html, body {
  margin: 0;
  padding: 0 1%;
  background-color: #D8D8D8;
  font-family: "Azo Sans", "Azo Sans Black", "Azo Sans Light", "Azo Sans Medium", "Azo Sans Thin", "Azo Sans Uber";
}

#header {
	background-color: #323232;
	padding: inherit;
}

ul {
	list-style-type: none;
}

.ProText {
	color: #e1e1e1;
}

#PropertiesContainer {
	padding: 1%
}

#topsettings {
	padding: 1% 0 0 0;
}

canvas {
  display: block;
	align-self: center;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 51%;
  padding: 1%;
  background-color: #2e2e2e;
  flex: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table, flex;
  clear: both;
}

button {
  background-color: #323232;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.imgButton {
	vertical-align: middle;
	padding-left: .1%
	
}
